body {
	/*background-color: black;*/
	background-image: url("../img/hospital.jpg");
	background-size: cover;
	color: #2B3DCA;
}

.customTable {
	text-align: center;
	font-size: 24px;
	color: white;
	border-radius: 30px;
	border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    margin: 0 auto;
}

.customTable th {
	background-color: #041285;
	padding: 10px;
}

.customTable td {
	background-color: #2B3DCA;
	padding: 5px 50px;
}

.customTable tr:hover {
	filter: brightness(1.2);
}

.customTable tr:first-child:hover {
	filter: brightness(1.0);
}

.busy td {
	background-color: #D01F72;
}

.pats {
	display: flex;
	justify-content: space-around;
	width: 600px;
	margin: 0 auto;
}

.patOptions {
	margin: 30px auto;
	display: flex;
	justify-content: space-around;
	width: 800px;
}

.returnBtn {
	background-color: #2B3DCA;
	margin-bottom: 50px;
	border-radius: 30px;
	padding: 8px;
	color: white;
	margin: 20px auto;
	display: block;
}

.optionBtn {
	background-color: #2B3DCA;
	margin-bottom: 50px;
	border-radius: 30px;
	padding: 8px;
	color: white;
}

.fillRes, .showRes {
	margin-top: 50px;
	margin-left: 50px;
}

input {
	border-radius: 30px;
	padding: 5px;
}

h1, h2, h3 {
	text-align: center;
}

.addingDiagnosis {
	width: 300px;
	margin: 0 auto;
	text-align: center;
}
